* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(IMG/Hero/heroBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
}

.logo {
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.navLink {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.copyRight {
    font-size: 14px;
}

.homePage{
    height: 750px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.heroTitle {
    font-weight: 900;
    font-size: 55px;
    width: 700px;
    margin-top: 25px;
}

.description {
    color: white;
    font-family: "Inter", sans-serif;
    width: 750px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.heroBtn {
    font-family: 'Orbitron', sans-serif;
    padding: 28px 40px;
    gap: 8px;
    width: 206px;
    height: 75px;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    border-radius: 8px;
    color: white;
    border: none;
    font-weight: 800;
    margin-top: 30px;
    font-size: 15px;
}

.sun{
    background-image: url(IMG/Sun/sunBackground.png);
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
}


