* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(IMG/Hero/heroBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
    border-left: 7px solid #180c34;
    border-right: 7px solid #180c34;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.homePage {
    height: 830px;
}

.logo {
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navLink {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.copyRight {
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.heroTitle {
    font-weight: 900;
    font-size: 75px;
    width: 778px;
    margin-top: 25px;
}

.description {
    color: white;
    font-family: "Inter", sans-serif;
    width: 750px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.heroBtn {
    font-family: 'Orbitron', sans-serif;
    padding: 28px 40px;
    gap: 8px;
    width: 206px;
    height: 75px;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    border-radius: 8px;
    color: white;
    border: none;
    font-weight: 800;
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
}

.saturnHero {
    position: absolute;
    left: 0;
    top: 230px;
}

.saturnHero img {
    height: 430px;
}

.jupiterHero {
    position: absolute;
    bottom: -100px;
    right: 0;
}

.jupiterHero img {
    height: 300px;
}

.marsHero {
    position: absolute;
    right: 0;
    top: 170px;
}

.marsHero img {
    height: 300px;
}

.neptuneHero {
    position: absolute;
    bottom: -100px;
}

.neptuneHero img {
    height: 170px;
}

.whiteplanetHero {
    position: absolute;
    top: 25px;
}

.whiteplanetHero img {
    height: 200px;
}

.earthHero {
    position: absolute;
    top: 80px;
    left: 45vw;
    z-index: -2;
}

.uranusHero {
    position: absolute;
    bottom: 290px;
    left: 380px;
    z-index: -1;
}

.mercuryHero {
    position: absolute;
    bottom: -100px;
    left: 40vw;
}

.logoLeaf {
    position: absolute;
    top: 30px;
    left: 120px;
    z-index: -1;
}

.logoLeaf img {
    height: 35px;
}

.cometBottom {
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: -1;
}

.cometTop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.meteorite1 {
    position: absolute;
    right: 120px;
    z-index: -1;
}

.meteorite3 {
    position: absolute;
    z-index: -1;
}

.meteorite4 {
    position: absolute;
    z-index: -1;
    right: 125px;
    bottom: 0;
}

.sun {
    background-image: url(IMG/Sun/sunBackground.png);
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 880px) and (max-width: 1024px) {
    .sun {
        margin-top: -90px;
    }

    .heroTitle {
        font-size: 40px;
        width: 500px;
    }

    .description {
        font-size: 15px;
        width: 500px;
    }

    .jupiterHero img {
        height: 230px;
    }

    .cometTop img {
        height: 0px;
    }

    .cometBottom {
        height: 0px;
    }

    .earthHero {
        left: 430px;
        top: 120px;
    }

    .earthHero img {
        height: 100px;
    }

    .saturnHero img {
        height: 300px;
    }

    .saturnHero {
        left: 7.5px;
    }

    .whiteplanetHero img {
        height: 150px;
    }

    .whiteplanetHero {
        top: 50px;
    }

    .neptuneHero {
        left: 7.5px;
    }

    .mercuryHero {
        left: 350px;
    }

    .uranusHero {
        left: 270px;
        top: 280px;
    }

    .uranusHero img {
        height: 60px;
    }
}

@media (min-width:757px) and (max-width: 879px) {
    
    .heroTitle{
        font-size: 48px;
        width: 560px;
    }

    .description {
        font-size: 10px;
        width: 480px;
    }

    .homePage{
        height: 650px;
    }

    .jupiterHero img {
        height: 160px;
    }

    .cometTop img {
        height: 0px;
    }

    .cometBottom {
        height: 0px;
    }

    .earthHero img {
        height: 90px;
    }

    .saturnHero img {
        height: 260px;
    }

    .earthHero{
        left: 400px;
        top: 120px;
    }

    .saturnHero {
        left: 7.5px;
    }

    .whiteplanetHero img {
        height: 150px;
    }

    .whiteplanetHero {
        top: 59px;
    }

    .neptuneHero, .mercuryHero, .jupiterHero {
        bottom: -15px;
    }

    .neptuneHero{
        left: 7.5px;
    }

    .neptuneHero img{
        height: 150px;
    }

    .mercuryHero img{
        height: 130px;
    }

    .mercuryHero{
        left: 300px;
    }

    .uranusHero{
        top: 298px;
        left: 150px;
    }

    .uranusHero img{
        height: 50px;
    }

    .jupiterHero img{
        height: 200px;
    }

    .heroBtn{
        width: 175px;
        height: 60px;
        padding: 0;
    }

    .marsHero img{
        height: 250px;
    }

    .marsHero{
        top: 110px;
    }

    .meteorite1{
        top: 0;
        right: 50px;
    }

    .meteorite3{
        left: 250px;
        top: 255px;
    }
}