* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(IMG/Hero/heroBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
    border-left: 7px solid #180c34;
    border-right: 7px solid #180c34;
    /*cursor: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Cartoon_space_rocket.png'), auto;*/
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.homePage {
    height: 825px;
}

.logo {
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navLink {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.copyRight {
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.heroTitle {
    font-weight: 900;
    font-size: 75px;
    width: 778px;
    margin-top: 25px;
}

.description {
    color: white;
    font-family: "Inter", sans-serif;
    width: 750px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.heroBtn {
    font-family: 'Orbitron', sans-serif;
    padding: 28px 40px;
    gap: 8px;
    width: 206px;
    height: 75px;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    border-radius: 8px;
    color: white;
    border: none;
    font-weight: 800;
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
}

.saturnHero {
    position: absolute;
    left: 0;
    top: 230px;
}

.saturnHero img {
    height: 430px;
}

.jupiterHero {
    position: absolute;
    bottom: -100px;
    right: 0;
}

.jupiterHero img {
    height: 300px;
}

.marsHero {
    position: absolute;
    right: 0;
    top: 170px;
}

.marsHero img {
    height: 300px;
}

.neptuneHero {
    position: absolute;
    bottom: -100px;
}

.neptuneHero img {
    height: 170px;
}

.whiteplanetHero {
    position: absolute;
    top: 25px;
}

.whiteplanetHero img {
    height: 200px;
}

.earthHero {
    position: absolute;
    top: 80px;
    left: 45vw;
    z-index: -2;
}

.uranusHero {
    position: absolute;
    bottom: 290px;
    left: 380px;
    z-index: -1;
}

.mercuryHero {
    position: absolute;
    bottom: -100px;
    left: 40vw;
}

.logoLeaf {
    position: absolute;
    top: 30px;
    left: 120px;
    z-index: -1;
}

.logoLeaf img {
    height: 35px;
}

.cometBottom {
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: -1;
}

.cometTop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.meteorite1 {
    position: absolute;
    right: 120px;
    z-index: -1;
}

.meteorite3 {
    position: absolute;
    z-index: -1;
}

.meteorite4 {
    position: absolute;
    z-index: -1;
    right: 125px;
    bottom: 0;
}

.sun {
    background-image: url(IMG/Sun/sunBackground.png);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sunImage {
    position: absolute;
    left: 1.5vh;
}

.sunImage img {
    height: 37vw;
}

.sunTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 67px;
    line-height: 80px;
}

.sunDescription {
    width: 100vh;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.sunContent {
    position: absolute;
    left: 58px;
    bottom: -135vh;
}

.sunCards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    width: 100vh;
    height: 176px;
    margin-top: 25px;
}

.diaMeter,
.tempMeter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    gap: 24px;
    width: 352px;
    height: 176px;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
}

.textCard {
    display: flex;
    flex-direction: column;
}

.diaTitle,
.tempTitle {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 2vh;
}

.diaDistance,
.tempDegree {
    font-weight: 900;
    font-size: 40px;
}

.mercury {
    background-image: url(IMG/Mercury/mercuryBackground.png);
    height: 750px;
    background-size: cover;
    position: relative;
}

.mercuryImage {
    position: relative;
    left: 0;
    top: 5vh;
}

.mercuryOnly {
    position: absolute;
    z-index: 2;
    top: 4.5vh;
}

.mercuryLayer1,
.mercuryLayer2 {
    position: absolute;
}

.mercuryLayer1 {
    top: 2.5vh;
    animation: mercuryLayer1 5s linear infinite;
}

@keyframes mercuryLayer1 {
    0% {
        transform: translateX(5);
    }

    100% {
        transform: translateX(10px);
    }
}

.mercuryLayer2 {
    animation: mercuryLayer2 7s linear infinite;
}

@keyframes mercuryLayer2 {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

.mercuryOnly img {
    height: 100vh;
}

.mercuryContent {
    position: absolute;
    right: 20vh;
    top: 15vh;
}

.merCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    width: 250px;
    height: 140px;
    margin-top: 25px;
}

.mercuryCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 700px;
}

.mercuryTitle {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 15px;
}

.mercuryDescription {
    width: 40vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px;
}

.merTitle {
    font-weight: 800;
    font-size: 16px;
    width: 220px;
    margin-bottom: 2vh;
}

.merDistance, .merDegree{
    font-weight: 900;
    font-size: 35px;
}

.venus{
    background-image: url(IMG/Venus/venusBackground.png);
    height: 790px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.onlyVenus, .venusLayer1, .venusLayer2{
    position: absolute;
}


















































































/*mediaQueries*/

@media (min-width: 880px) and (max-width: 1024px) {
    .sun {
        margin-top: -90px;
    }

    .heroTitle {
        font-size: 40px;
        width: 500px;
    }

    .description {
        font-size: 15px;
        width: 500px;
    }

    .jupiterHero img {
        height: 230px;
    }

    .cometTop img {
        height: 0px;
    }

    .cometBottom {
        height: 0px;
    }

    .earthHero {
        left: 430px;
        top: 120px;
    }

    .earthHero img {
        height: 100px;
    }

    .saturnHero img {
        height: 300px;
    }

    .saturnHero {
        left: 7.5px;
    }

    .whiteplanetHero img {
        height: 150px;
    }

    .whiteplanetHero {
        top: 50px;
    }

    .neptuneHero {
        left: 7.5px;
    }

    .mercuryHero {
        left: 350px;
    }

    .uranusHero {
        left: 270px;
        top: 280px;
    }

    .uranusHero img {
        height: 60px;
    }
}

@media (min-width:757px) and (max-width: 879px) {

    .heroTitle {
        font-size: 48px;
        width: 560px;
    }

    .description {
        font-size: 10px;
        width: 480px;
    }

    .homePage {
        height: 650px;
    }

    .jupiterHero img {
        height: 160px;
    }

    .cometTop img {
        height: 0px;
    }

    .cometBottom {
        height: 0px;
    }

    .earthHero img {
        height: 90px;
    }

    .saturnHero img {
        height: 260px;
    }

    .earthHero {
        left: 400px;
        top: 120px;
    }

    .saturnHero {
        left: 7.5px;
    }

    .whiteplanetHero img {
        height: 150px;
    }

    .whiteplanetHero {
        top: 59px;
    }

    .neptuneHero,
    .mercuryHero,
    .jupiterHero {
        bottom: -15px;
    }

    .neptuneHero {
        left: 7.5px;
    }

    .neptuneHero img {
        height: 150px;
    }

    .mercuryHero img {
        height: 130px;
    }

    .mercuryHero {
        left: 300px;
    }

    .uranusHero {
        top: 298px;
        left: 150px;
    }

    .uranusHero img {
        height: 50px;
    }

    .jupiterHero img {
        height: 200px;
    }

    .heroBtn {
        width: 175px;
        height: 60px;
        padding: 0;
    }

    .marsHero img {
        height: 250px;
    }

    .marsHero {
        top: 110px;
    }

    .meteorite1 {
        top: 0;
        right: 50px;
    }

    .meteorite3 {
        left: 250px;
        top: 255px;
    }
}