* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
    border-left: 7px solid #180c34;
    border-right: 7px solid #180c34;
    /*cursor: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Cartoon_space_rocket.png'), auto;*/
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: nowrap;
}

.homePage {
    height: 825px;
    background-image: url(IMG/Hero/heroBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navLink {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.copyRight {
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.heroTitle {
    font-weight: 900;
    font-size: 75px;
    width: 778px;
    margin-top: 25px;
    z-index: 2;
}

.description {
    color: white;
    font-family: "Inter", sans-serif;
    width: 750px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.heroBtn {
    font-family: 'Orbitron', sans-serif;
    padding: 28px 40px;
    gap: 8px;
    width: 206px;
    height: 75px;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    border-radius: 8px;
    color: white;
    border: none;
    font-weight: 800;
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
}

.saturnHero {
    position: absolute;
    left: 0;
    top: 230px;
}

.saturnHero img {
    height: 430px;
}

.jupiterHero {
    position: absolute;
    bottom: 0;
    right: 0;
}

.jupiterHero img {
    height: 300px;
}

.marsHero {
    position: absolute;
    right: 0;
    top: 170px;
}

.marsHero img {
    height: 300px;
}

.neptuneHero {
    position: absolute;
    bottom: 0;
}

.neptuneHero img {
    height: 170px;
}

.whiteplanetHero {
    position: absolute;
    top: 25px;
}

.whiteplanetHero img {
    height: 200px;
}

.earthHero {
    position: absolute;
    top: 80px;
    left: 45vw;
    z-index: 1;
}

.uranusHero {
    position: absolute;
    bottom: 290px;
    left: 380px;
    z-index: -1;
}

.mercuryHero {
    position: absolute;
    bottom: 0;
    left: 40vw;
}

.logoLeaf {
    position: absolute;
    top: 30px;
    left: 120px;
    z-index: -1;
}

.logoLeaf img {
    height: 35px;
}

.sun {
    background-image: url(IMG/Sun/sunBackground.png);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@keyframes to-fro {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.sunImage {
    position: absolute;
    left: 1.5vh;
    animation: to-fro 4s infinite ease-in-out;
    animation: grow-shrink 2s infinite ease-in-out
}

.sunImage img {
    height: 36vw;
}

.sunTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 67px;
    line-height: 80px;
}

.sunDescription {
    width: 100vh;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.sunContent {
    position: absolute;
    left: 58px;
    bottom: 20vw;
}

.sunCards{
    position: absolute;
    display: flex;
    bottom: 3vw;
    left: 58px;
}

.sunCard{
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    width: 250px;
    height: 140px;
    margin-right: 25px;
}

.sunCardTitle{
    font-weight: 800;
    font-size: 16px;
    width: 220px;
    margin-bottom: 2vh;
}

.sunCardDistance, .sunCardDegree{
    font-weight: 900;
    font-size: 35px;
}

.mercury {
    background-image: url(IMG/Mercury/mercuryBackground.png);
    height: 750px;
    background-size: cover;
    position: relative;
}

.mercuryImage {
    position: relative;
    left: 0;
}

.mercuryImage img {
    width: 32.5vw;
}

.mercuryOnly {
    position: absolute;
    z-index: 2;
    top: 4.3vh;
}

.mercuryLayer1,
.mercuryLayer2 {
    position: absolute;
    left: -2px;
}

.mercuryLayer1 {
    top: 2.5vh;
    animation: mercuryLayer1 5s linear infinite;
}

@keyframes mercuryLayer1 {
    0% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(15px);
    }
}

.mercuryLayer2 {
    animation: mercuryLayer2 7s linear infinite;
    top: 2.5vh;
}

@keyframes mercuryLayer2 {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(15px);
    }
}

.mercuryOnly img {
    height: 100vh;
}

.mercuryContent {
    position: absolute;
    right: 20vh;
    top: 15vh;
}

.merCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    width: 250px;
    height: 140px;
    margin-top: 25px;
    border: 4px solid #300c3c;
}

.mercuryCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 700px;
    position: absolute;
    right: 4vw;
    top: 18vw;
}

.mercuryTitle {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 15px;
}

.mercuryDescription {
    width: 40vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px;
}

.merTitle {
    font-weight: 800;
    font-size: 16px;
    width: 220px;
    margin-bottom: 2vh;
}

.merDistance,
.merDegree {
    font-weight: 900;
    font-size: 35px;
}

.venus {
    background-image: url(IMG/Venus/venusBackground.png);
    height: 790px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.onlyVenus,
.venusLayer1,
.venusLayer2 {
    position: absolute;
    right: -1vh;
    bottom: 0;
}

.onlyVenus {
    height: 95vh;
}

.venusLayer1 {
    height: 98vh;
}

.venusLayer2 {
    height: 100vh;
}

.venusContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48vw;
    position: absolute;
    top: 25vh;
    left: 3vw;
}

.venusTitle {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 20px;
}

.venusDescription {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 60px;
}

.venCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    margin-bottom: 25px;
    position: relative;
    height: 130px;
    border: 4px solid #300c3c;
}

.venCard {
    left: 25px;
}

.venTitle {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 10px;
}

.venDistance,
.venDegree {
    font-weight: 900;
    font-size: 35px;
}

.venusLayer1 {
    animation: venusLayer1 5s linear infinite;
}

@keyframes venusLayer1 {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

.venusLayer2 {
    animation: venusLayer2 7s linear infinite;
}

@keyframes venusLayer2 {
    0% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(10px);
    }
}

.earth {
    background-image: url(IMG/Earth/earthBackground.png);
    position: relative;
    height: 900px;
    background-size: cover;
}

.onlyEarth,
.earthLayer {
    position: absolute;
    bottom: 0;
    left: 6vh;
}

.onlyEarth {
    left: 8vw;
}

.twistedArrow,
.rocketEarth {
    position: absolute;
}

.rocketEarth {
    bottom: 15vh;
    z-index: 2;
    /*animation: move-semi-circle 10s ease-in-out infinite;*/
}

/*
@keyframes move-semi-circle {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(30vw, -150px) ; 
    }
    50% {
        transform: translate(80vw, 0) rotate(180deg); 
    }
    75% {
        transform: translate(30vw, -150px); 
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}
*/

.earthTitle {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 20px;
}

.earthContent {
    position: absolute;
    width: 60vw;
    left: 5vw;
    top: 5vh;
}

.moonContent {
    position: absolute;
    width: 55vw;
    left: 8vw;
    top: 42vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;
}

.earthDescription {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

.twistedArrow {
    right: 22vw;
    top: 48vh;
    animation: reveal linear 2s infinite;
}

@keyframes reveal {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

.earthCard {
    position: absolute;
    right: 10vw;
    top: 8vh;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    height: 130px;
    width: 18vw;
    border: 4px solid #300c3c;
}

.earTitle {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 10px;
}

.earDistance {
    font-weight: 900;
    font-size: 35px;
}

.moonTitle {
    font-weight: 900;
    font-size: 40px;
}

.moonDescription {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
}

.mars {
    background-image: url(IMG/Mars/marsBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    position: relative;
}

.marsOnly {
    position: absolute;
    bottom: 0;
    left: 0;
}

.marsTitle {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 15px;
}

.marsDescription {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.marsArrow {
    position: absolute;
    left: 32vw;
    top: 48vh;
    animation: reveal1 linear 1.5s infinite;
}

@keyframes reveal1 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);

    }
}

.marsContent {
    position: absolute;
    width: 40vw;
    left: 10vw;
    top: 8vh;
}

.marCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    height: 130px;
    width: 18vw;
    border: 4px solid #300c3c;
    margin-bottom: 6vh;
}

.marsCards {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 4vw;
    top: 10vh;
}

.marsMoonContent {
    position: absolute;
    width: 25vw;
    bottom: 30vh;
    left: 38vw;
}

.marTitle {
    font-weight: 800;
    font-size: 15px;
}

.marDegree,
.marDistance {
    font-weight: 900;
    font-size: 36px;
}

.marsMoonTitle {
    font-weight: 900;
    font-size: 35px;
}

.marsMoonDescription {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.jupiter {
    background-image: url(IMG/Jupiter/jupiterBackground.png);
    background-size: cover;
    height: 770px;
    position: relative;
}

.onlyJupiter,
.jupiterLayer1,
.jupiterLayer2,
.jupiterContent {
    position: absolute;
}

.onlyJupiter {
    right: 0;
    top: 0;
}

.jupiterLayer1 {
    right: 0;
    animation: jupLayer1 5s linear infinite;
}

@keyframes jupLayer1 {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

.jupiterLayer2 {
    right: 0;
    animation: jupLayer2 7s wavy infinite;
}

@keyframes jupLayer2 {
    0% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(10px);
    }
}

.jupiterTitle {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 15px;
}

.jupiterContent {
    width: 45vw;
    top: 10vh;
    left: 5vw;
}

.jupiterDescription {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
}

.jupCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    height: 130px;
    width: 18vw;
    border: 4px solid #300c3c;
    margin-bottom: 6vh;
}

.jupTitle {
    font-weight: 800;
    font-size: 15px;
}

.jupDegree,
.jupDistance {
    font-weight: 900;
    font-size: 36px;
}

.jupDegree {
    padding-left: 15px;
}

.saturn {
    background-image: url(IMG/Saturn/saturnBackground.png);
    background-size: cover;
    height: 840px;
    position: relative;
}

.saturnOnly {
    position: absolute;
    animation: spin 8s linear infinite;
    left: -5vh;
    top: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.saturnTitle {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 15px;
    text-align: right;
}

.saturnContent {
    position: absolute;
    width: 53vw;
    right: 3vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.saturnDescription {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
    text-align: right;
}

.satCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    height: 130px;
    width: 18vw;
    border: 4px solid #300c3c;
    margin-bottom: 6vh;
}

.satTitle {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 5px;
}

.satDegree,
.satDistance {
    font-weight: 900;
    font-size: 36px;
}

.satDegree {
    padding-left: 15px;
}

.uranus {
    background-image: url(IMG/Uranus/uranusBackground.png);
    background-size: cover;
    height: 820px;
    position: relative;
}

.uranusOnly,
.uranusLayer1,
.uranusLayer2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.uranusTitle {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 15px;
}

.uranusContent {
    position: absolute;
    width: 30vw;
    display: flex;
    top: 9vh;
    left: 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.uranusDescription {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
    text-align: left;
}

.uranusCards {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 5vw;
    gap: 25px;
    top: 5vw;
}

.uraCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    height: 130px;
    width: 18vw;
    border: 4px solid #300c3c;
    margin-bottom: 6vh;
}

.uraTitle {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 5px;
}

.uraDegree,
.uraDistance {
    font-weight: 900;
    font-size: 36px;
}

.uraDegree {
    padding-left: 15px;
}

.uranusLayer1 {
    animation: jupLayer1 5s linear infinite;
    right: 0;
}

.uranusLayer2 {
    animation: jupLayer2 7s linear infinite;
    right: 0;
}

.neptune {
    background-image: url(IMG/Uranus/uranusBackground.png);
    background-size: cover;
    height: 1024px;
    position: relative;
}

.neptuneOnly,
.neptuneLayer1,
.neptuneLayer2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.neptuneTitle {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 15px;
}

.neptuneContent {
    position: absolute;
    width: 60vw;
    display: flex;
    top: 9vh;
    right: 18vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.neptuneDescription {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
}

.neptuneCards {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 25px;
    right: 18vw;
    top: 20vw;
}

.nepCard {
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 24px;
    height: 130px;
    width: 18vw;
    border: 4px solid #300c3c;
    margin-bottom: 6vh;
}

.nepTitle {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 5px;
}

.nepDegree,
.nepDistance {
    font-weight: 900;
    font-size: 36px;
}

.nepDegree {
    padding-left: 15px;
}

.neptuneLayer1 {
    animation: jupLayer1 5s linear infinite;
    right: 0;
}

.neptuneLayer2 {
    animation: jupLayer2 7s linear infinite;
    right: 0;
}

.nepmoonSmall,
.nepmoonBig {
    position: absolute;
}

.nepmoonBig {
    right: 5vw;
    bottom: 19vw;
}

.nepmoonSmall {
    right: 28vw;
    bottom: 15vw;
}

.footerSection {
    background-image: url(IMG/Footer/footerBackground.png);
    height: 585px;
    position: relative;
    background-size: cover;
}

.footerPic {
    position: absolute;
}

.footerBox {
    position: absolute;
    background: #1E1E1E;
    border-radius: 40px;
    height: 450px;
    width: 88vw;
    left: 5vw;
    top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerTitle {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin: 5vh 0;
}

.footerDescription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 5%;
}

.footerLast {
    width: 88vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 15px;
    gap: 8px;
    background: white;
    border-radius: 40px;
    width: 35vw;
    height: 60px;
}

.search {
    width: 22vw;
    height: 60px;
    border: none;
}

.submitButton {
    width: 12vw;
    border-radius: 28px;
    height: 60px;
    background: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    font-family: 'Orbitron', sans-serif;
    color: white;
    border: none;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
    animation: 1s linear;
    transition: filter 0.3s ease-in-out, transform 0.1s ease-in-out;
    ;
}

.submitButton:hover {
    filter: brightness(0.85);
}

.submitButton:active {
    transform: scale(0.95);
    filter: brightness(1);
}

.arrowMark {
    background-color: white;
    color: #100A33;
    border-radius: 50%;
    padding: 2px;
    margin-left: 6px;
    font-weight: 900;
}

::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    border: none;
}

/*mediaQueries*/

@media (min-width:930px) and (max-width: 1060px) {

    .heroTitle {
        font-size: 48px;
        width: 560px;
    }

    .description {
        font-size: 10px;
        width: 480px;
    }

    .homePage {
        height: 660px;
    }

    .jupiterHero img {
        height: 160px;
    }

    .earthHero img {
        height: 90px;
    }

    .saturnHero img {
        height: 260px;
    }

    .earthHero {
        left: 470px;
        top: 120px;
    }

    .saturnHero {
        left: 7.5px;
    }

    .whiteplanetHero img {
        height: 150px;
    }

    .whiteplanetHero {
        top: 59px;
    }

    .neptuneHero,
    .mercuryHero,
    .jupiterHero {
        bottom: -15px;
    }

    .neptuneHero {
        left: 7.5px;
    }

    .neptuneHero img {
        height: 150px;
    }

    .mercuryHero img {
        height: 130px;
    }

    .mercuryHero {
        left: 300px;
    }

    .uranusHero {
        top: 298px;
        left: 150px;
    }

    .uranusHero img {
        height: 50px;
    }

    .jupiterHero img {
        height: 200px;
    }

    .heroBtn {
        width: 175px;
        height: 60px;
        padding: 0;
    }

    .marsHero img {
        height: 250px;
    }

    .marsHero {
        top: 110px;
    }

    .meteorite1 {
        top: 0;
        right: 50px;
    }

    .meteorite3 {
        left: 250px;
        top: 255px;
    }

    .sunImage img {
        width: 95vw;
    }

    .sunImage {
        position: absolute;
        top: 2px;
    }

    .sun {
        height: 940px;
    }

    .sunContent {
        bottom: 40vw;
    }

    .sunCard {
        width: 276px;
        height: 142px;
        gap: 15px;
        padding: 12px 24px;
    }

    .sunCards{
        bottom: 15vw;
    }

    .sunCardTitle {
        font-size: 14px;
    }

    .sunCardDistance,
    .sunCardDegree {
        font-size: 26px;
    }

    .mercury {
        height: 650px;
    }

    .mercuryContent {
        right: 16vw;
        width: 43vw;
    }

    .merCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
    }

    .mercuryCards {
        justify-content: space-evenly;
        top: 30vw;
        right: 0;
        height: 32vw;
        width: 67vw;
    }

    .mercuryTitle {
        font-size: 50px;
    }

    .merTitle {
        font-size: 10px;
    }

    .mercuryOnly,
    .mercuryLayer1,
    .mercuryLayer2 {
        height: 420px;
    }

    .merDegree,
    .merDistance {
        font-size: 18px;
    }

    .mercuryOnly {
        top: 140px;
    }

    .mercuryLayer1,
    .mercuryLayer2 {
        top: 140px;
    }

    .venus {
        height: 720px;
    }

    .onlyVenus {
        height: 530px;
        right: -5px;
    }

    .venusLayer1 {
        height: 540px;
        right: 0;
    }

    .venusLayer2 {
        height: 560px;
        right: 0;
    }

    .venusTitle {
        font-size: 55px;
    }

    .venCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
    }

    .venTitle {
        font-size: 12px;
    }

    .venDegree,
    .venDistance {
        font-size: 20px;
    }

    .venusContent {
        top: 13vw;
    }

    .onlyEarth,
    .earthLayer {
        width: 920px;
    }

    .onlyEarth {
        left: 0;
    }

    .earthLayer {
        left: 0.2vw;
    }

    .moonContent {
        top: 35vw;
    }

    .twistedArrow {
        height: 140px;
        left: 65vw;
        top: 40vw;
    }

    .earthCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
        right: 2vw;
    }

    .earTitle {
        font-size: 12px;
    }

    .earDistance {
        font-size: 22px;
    }

    .marsOnly {
        height: 400px;
        width: 430px;
    }

    .marCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
        right: 2vw;
    }

    .marTitle {
        font-size: 12px;
    }

    .marDistance,
    .marDegree {
        font-size: 22px;
    }

    .marsCards {
        top: 18vh;
    }

    .marsMoonContent {
        left: 44vw;
        bottom: 10vh;
    }

    .marsMoonTitle {
        font-size: 28px;
    }

    .marsMoonDescription {
        font-size: 14px;
        line-height: 14px;
    }

    .marsArrow {
        top: 54vw;
        left: 48vw;
    }

    .jupCard {
        width: 220px;
        height: 110px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .jupTitle {
        font-size: 14px;
    }

    .jupDistance,
    .jupDegree {
        font-size: 26px;
    }

    .onlyJupiter {
        height: 55vw;
    }

    .jupiterLayer1 {
        height: 43vw;
    }

    .jupiterLayer2 {
        height: 44vw;
    }

    .jupiter {
        height: 745px;
    }

    .saturn {
        height: 800px;
    }

    .satCard {
        width: 220px;
        height: 110px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .satTitle {
        font-size: 14px;
    }

    .satDistance,
    .satDegree {
        font-size: 26px;
    }

    .saturnOnly {
        height: 62vw;
        top: 8vw;
    }

    .uranusOnly{
        height: 42vw;
    }

    .uranusLayer1{
        height: 37vw;
    }

    .uranusLayer2{
        height: 38vw;
    }

    .uraCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .uraDistance,
    .uraDegree {
        font-size: 26px;
    }

    .uraTitle {
        font-size: 14px;
    }

    .uranusTitle{
        font-size: 50px;
    }

    .uranusCards{
        right: 1.5%;
    }

    .nepCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .nepDistance,
    .nepDegree {
        font-size: 26px;
    }

    .nepTitle {
        font-size: 14px;
    }

    .neptuneCards{
        top: 30vw;
    }

    .neptuneOnly{
        width: 75%;
    }

    .neptuneLayer1{
        width: 72.8%;
        left: 0;
    }

    .neptuneLayer2{
        width: 73.2%;
        left: 0;
    }

    .nepmoonSmall{
        height: 110px;
        right: 28vw;
        bottom: 22vw;
    }

    .nepmoonBig{
        height: 210px;
        bottom: 28vw;
    }

    .footerPic{
        height: 39vw;
    }

    .searchBar{
        width: 40vw;
    }

    .submitButton{
        width: 20vw;
    }
}

@media (min-width:768px) and (max-width: 930px) {

    .heroTitle {
        font-size: 48px;
        width: 560px;
    }

    .description {
        font-size: 10px;
        width: 480px;
    }

    .homePage {
        height: 660px;
    }

    .jupiterHero img {
        height: 160px;
    }

    .earthHero img {
        height: 90px;
    }

    .saturnHero img {
        height: 260px;
    }

    .earthHero {
        left: 400px;
        top: 120px;
    }

    .saturnHero {
        left: 7.5px;
    }

    .whiteplanetHero img {
        height: 150px;
    }

    .whiteplanetHero {
        top: 59px;
    }

    .neptuneHero,
    .mercuryHero,
    .jupiterHero {
        bottom: -15px;
    }

    .neptuneHero {
        left: 7.5px;
    }

    .neptuneHero img {
        height: 150px;
    }

    .mercuryHero img {
        height: 130px;
    }

    .mercuryHero {
        left: 300px;
    }

    .uranusHero {
        top: 298px;
        left: 150px;
    }

    .uranusHero img {
        height: 50px;
    }

    .jupiterHero img {
        height: 200px;
    }

    .heroBtn {
        width: 175px;
        height: 60px;
        padding: 0;
    }

    .marsHero img {
        height: 250px;
    }

    .marsHero {
        top: 110px;
    }

    .sunImage img {
        width: 95vw;
    }

    .sunImage {
        position: absolute;
        top: 2px;
    }

    .sun {
        height: 940px;
    }

    .sunContent {
        bottom: 40vw;
    }

    .sunCard {
        width: 276px;
        height: 142px;
        gap: 15px;
        padding: 12px 24px;
    }

    .sunCards{
        bottom: 15vw;
    }

    .sunCardTitle {
        font-size: 14px;
    }

    .sunCardDistance,
    .sunCardDegree {
        font-size: 26px;
    }

    .mercury {
        height: 650px;
    }

    .mercuryContent {
        right: 6vw;
        width: 50vw;
        top: 8vw;
    }

    .mercuryTitle{
        font-size: 50px;
    }

    .mercuryDescription{
        font-size: 14px;
    }

    .merCard {
        width: 160px;
        height: 80px;
        gap: 15px;
        padding: 10px 20px;
    }

    .mercuryCards {
        justify-content: space-evenly;
        top: 40%;
        right: 0;
        height: 32vw;
        width: 67vw;
    }

    .mercuryTitle {
        font-size: 50px;
    }

    .merTitle {
        font-size: 10px;
    }

    .mercuryOnly {
        height: 49.8vw;
    }

    .mercuryLayer1{
        height: 50vw;
    }

    .mercuryLayer2{
        height: 50.5vw;
    }

    .merDegree,
    .merDistance {
        font-size: 16px;
    }

    .mercuryOnly {
        top: 14vw;
    }

    .merDiameter, .merThermo{
        height: 55px;
    }

    .mercuryLayer1,
    .mercuryLayer2 {
        top: 14vw;
    }

    .venus {
        height: 700px;
    }

    .onlyVenus {
        height: 400px;
        right: -5px;
    }

    .venusLayer1 {
        height: 410px;
        right: 2px;
    }

    .venusLayer2 {
        height: 420px;
        right: 2px;
    }

    .venusTitle {
        font-size: 55px;
    }

    .venCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
    }

    .venTitle {
        font-size: 12px;
    }

    .venDegree,
    .venDistance {
        font-size: 20px;
    }

    .venusContent {
        top: 13vw;
    }

    .onlyEarth,
    .earthLayer {
        width: 100%;
    }

    .onlyEarth {
        left: 0;
    }

    .earthLayer {
        left: 0.2vw;
    }

    .moonContent {
        top: 40%;
    }

    .twistedArrow {
        height: 10px;
        left: 65vw;
        top: 45%;
    }

    .earthCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
        right: 2vw;
        top: 25%;
    }

    .earTitle {
        font-size: 12px;
    }

    .earDistance {
        font-size: 22px;
    }

    .marsOnly {
        height: 400px;
        width: 430px;
    }

    .marCard {
        width: 160px;
        height: 80px;
        gap: 15px;
        padding: 10px 20px;
        right: 3%;
    }

    .marTitle {
        font-size: 10px;
    }

    .marDistance,
    .marDegree {
        font-size: 18px;
    }

    .marDiaPic{
        height: 60px;
    }

    .marsCards {
        top: 5%;
    }

    .marsMoonContent {
        left: 55%;
        bottom: 5vh;
    }

    .marsMoonTitle {
        font-size: 20px;
    }

    .marsMoonDescription {
        font-size: 14px;
        line-height: 14px;
    }

    .marsArrow {
        top: 72%;
        left: 58%;
        height: 40px;
    }

    .jupCard {
        width: 220px;
        height: 110px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .jupTitle {
        font-size: 14px;
    }

    .jupiterTitle{
        font-size: 50px;
    }

    .jupDistance,
    .jupDegree {
        font-size: 26px;
    }

    .onlyJupiter {
        height: 55vw;
    }

    .jupiterLayer1 {
        height: 43vw;
    }

    .jupiterLayer2 {
        height: 44vw;
    }

    .jupiter {
        height: 745px;
    }

    .saturn {
        height: 720px;
    }

    .satCard {
        width: 200px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
        right: 2vw;
    }

    .satTitle {
        font-size: 14px;
    }

    .saturnTitle{
        font-size: 50px;
    }

    .satDistance,
    .satDegree {
        font-size: 26px;
    }

    .saturnOnly {
        height: 62vw;
        top: 8vw;
    }

    .uranusOnly{
        height: 43%;
    }

    .uranusLayer1{
        height: 37.4%;
        right: 1%;
    }

    .uranusLayer2{
        height: 37.8%;
        right: 1%;
    }

    .uraCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .uranusDescription{
        width: 140%;
    }

    .uraDistance,
    .uraDegree {
        font-size: 26px;
    }

    .uraTitle {
        font-size: 14px;
    }

    .uranusTitle{
        font-size: 50px;
    }

    .uranusCards{
        right: 3%;
        flex-direction: column;
    }

    .nepCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .neptune{
        height: 900px;
    }

    .nepDistance,
    .nepDegree {
        font-size: 26px;
    }

    .nepTitle {
        font-size: 14px;
    }

    .neptuneCards{
        top: 35%;
        left: 20%;
    }

    .neptuneOnly{
        width: 75%;
    }

    .neptuneLayer1{
        width: 72.8%;
        left: 0;
    }

    .neptuneLayer2{
        width: 73.2%;
        left: 0;
    }

    .nepmoonSmall{
        height: 110px;
        right: 28vw;
        bottom: 22vw;
    }

    .nepmoonBig{
        height: 210px;
        bottom: 28vw;
    }

    .footerPic{
        height: 39vw;
    }

    .searchBar{
        width: 40vw;
    }

    .submitButton{
        width: 20vw;
    }

    #footerLogo{
        font-size: 22px;
    }

    #footercopyRight{
        font-size: 12px;
    }

    .submitButton{
        font-size: 125%;
    }

    .footerDescription{
        font-size: 15px;
    }

    .footerTitle{
        font-size: 45px;
    }

    .searchBar{
        height: 55px;
    }
}   

@media (min-width:650px) and (max-width: 768px) {

    .heroTitle {
        font-size: 44px;
        width: 560px;
    }

    .description {
        font-size: 9px;
        width: 440px;
    }

    header{
        padding: 10px;
    }

    .logo{
        font-size: 25px;
    }

    .homePage {
        height: 660px;
    }

    .jupiterHero img {
        height: 160px;
    }

    .earthHero img {
        height: 90px;
    }

    .saturnHero img {
        height: 260px;
    }

    .earthHero {
        left: 400px;
        top: 120px;
    }

    .saturnHero {
        left: 7.5px;
    }

    .whiteplanetHero img {
        height: 150px;
    }

    .whiteplanetHero {
        top: 59px;
    }

    .neptuneHero,
    .mercuryHero,
    .jupiterHero {
        bottom: -15px;
    }

    .neptuneHero {
        left: 7.5px;
    }

    .neptuneHero img {
        height: 150px;
    }

    .mercuryHero img {
        height: 130px;
    }

    .mercuryHero {
        left: 300px;
    }

    .uranusHero {
        top: 298px;
        left: 150px;
    }

    .uranusHero img {
        height: 50px;
    }

    .jupiterHero img {
        height: 200px;
    }

    .heroBtn {
        width: 175px;
        height: 60px;
        padding: 0;
    }

    .marsHero img {
        height: 250px;
    }

    .marsHero {
        top: 110px;
    }

    .sunImage img {
        width: 95vw;
    }

    .sunImage {
        position: absolute;
        top: 2px;
    }

    .sun {
        height: 800px;
    }

    .sunContent {
        bottom: 40vw;
    }

    .sunDescription{
        width: 580px;
    }

    .sunCard {
        width: 220px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
    }

    .sunCards{
        bottom: 15vw;
    }

    .sunCardTitle {
        font-size: 14px;
    }

    .sunCardDistance,
    .sunCardDegree {
        font-size: 19px;
    }

    .mercury {
        height: 650px;
    }

    .mercuryContent {
        right: 6vw;
        width: 50vw;
        top: 8vw;
    }

    .mercuryTitle{
        font-size: 45px;
    }

    .mercuryDescription{
        font-size: 15px;
    }

    .merCard {
        width: 160px;
        height: 80px;
        gap: 15px;
        padding: 10px 20px;
    }

    .mercuryCards {
        justify-content: space-evenly;
        top: 45%;
        right: 0;
        height: 32vw;
        width: 67vw;
    }

    .mercuryTitle {
        font-size: 50px;
    }

    .merTitle {
        font-size: 10px;
    }

    .mercuryOnly {
        height: 49.8vw;
    }

    .mercuryLayer1{
        height: 50vw;
    }

    .mercuryLayer2{
        height: 50.5vw;
    }

    .merDegree,
    .merDistance {
        font-size: 16px;
    }

    .mercuryOnly {
        top: 14vw;
    }

    .merDiameter, .merThermo{
        height: 55px;
    }

    .mercuryLayer1,
    .mercuryLayer2 {
        top: 14vw;
    }

    .venus {
        height: 700px;
    }

    .onlyVenus {
        height: 350px;
        right: -5px;
    }

    .venusLayer1 {
        height: 360px;
        right: 2px;
    }

    .venusLayer2 {
        height: 370px;
        right: 2px;
    }

    .venusTitle {
        font-size: 50px;
    }

    .venusDiaimg, .venustempimg{
        height: 60px;
    }

    .venCard {
        width: 160px;
        height: 90px;
        gap: 15px;
        padding: 10px 20px;
    }

    .venTitle {
        font-size: 12px;
    }

    .venDegree,
    .venDistance {
        font-size: 18px;
    }

    .venusContent {
        top: 13vw;
    }

    .onlyEarth,
    .earthLayer {
        width: 100%;
    }

    .onlyEarth {
        left: 0;
    }

    .earthLayer {
        left: 0.2vw;
    }

    .moonContent {
        top: 40%;
    }

    .twistedArrow {
        height: 10px;
        left: 65vw;
        top: 45%;
    }

    .earthCard {
        width: 180px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
        right: 2vw;
        top: 25%;
    }

    .earTitle {
        font-size: 12px;
    }

    .earDistance {
        font-size: 22px;
    }

    .marsOnly {
        height: 400px;
        width: 430px;
    }

    .marCard {
        width: 160px;
        height: 80px;
        gap: 15px;
        padding: 10px 20px;
        right: 3%;
    }

    .marTitle {
        font-size: 10px;
    }

    .marDistance,
    .marDegree {
        font-size: 18px;
    }

    .marDiaPic{
        height: 60px;
    }

    .marsCards {
        top: 5%;
    }

    .marsMoonContent {
        left: 55%;
        bottom: 5vh;
    }

    .marsMoonTitle {
        font-size: 20px;
    }

    .marsMoonDescription {
        font-size: 14px;
        line-height: 14px;
    }

    .marsArrow {
        top: 72%;
        left: 58%;
        height: 40px;
    }

    .jupCard {
        width: 220px;
        height: 110px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .jupTitle {
        font-size: 14px;
    }

    .jupiterTitle{
        font-size: 50px;
    }

    .jupDistance,
    .jupDegree {
        font-size: 26px;
    }

    .onlyJupiter {
        height: 55vw;
    }

    .jupiterLayer1 {
        height: 43vw;
    }

    .jupiterLayer2 {
        height: 44vw;
    }

    .jupiter {
        height: 745px;
    }

    .saturn {
        height: 720px;
    }

    .satCard {
        width: 200px;
        height: 100px;
        gap: 15px;
        padding: 10px 20px;
        right: 2vw;
    }

    .satTitle {
        font-size: 14px;
    }

    .saturnTitle{
        font-size: 50px;
    }

    .satDistance,
    .satDegree {
        font-size: 26px;
    }

    .saturnOnly {
        height: 56vw;
        top: 27%;
    }

    .uranusOnly{
        height: 43%;
    }

    .uranusLayer1{
        height: 37.4%;
        right: 1%;
    }

    .uranusLayer2{
        height: 37.8%;
        right: 1%;
    }

    .uraCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .uranusDescription{
        width: 140%;
    }

    .uraDistance,
    .uraDegree {
        font-size: 26px;
    }

    .uraTitle {
        font-size: 14px;
    }

    .uranusTitle{
        font-size: 50px;
    }

    .uranusCards{
        right: 3%;
        flex-direction: column;
    }

    .nepCard {
        width: 210px;
        height: 100px;
        gap: 15px;
        padding: 12px 24px;
        right: 2vw;
    }

    .neptune{
        height: 900px;
    }

    .nepDistance,
    .nepDegree {
        font-size: 26px;
    }

    .nepTitle {
        font-size: 14px;
    }

    .neptuneCards{
        top: 35%;
        left: 20%;
    }

    .neptuneOnly{
        width: 75%;
    }

    .neptuneLayer1{
        width: 72.8%;
        left: 0;
    }

    .neptuneLayer2{
        width: 73.2%;
        left: 0;
    }

    .nepmoonSmall{
        height: 80px;
        right: 28vw;
        bottom: 22vw;
    }

    .nepmoonBig{
        height: 150px;
        bottom: 28vw;
    }

    .footerBox{
        justify-content: space-around;
    }
    
    .footerPic{
        height: 39vw;
    }

    .searchBar{
        width: 45vw;
    }

    .submitButton{
        width: 23vw;
    }

    #footerLogo{
        font-size: 22px;
    }

    #footercopyRight{
        font-size: 12px;
    }

    .submitButton{
        font-size: 125%;
    }

    .footerDescription{
        font-size: 15px;
    }

    .footerTitle{
        font-size: 45px;
    }

    .searchBar{
        height: 55px;
    }
    .footerLast{
        flex-wrap: wrap;
    }
}  

